/* 
                BOX property
ex. {border-width: 0px 10px 20px 30px;}
                      top  right  bot  left

padding = distance from the element and the border ex. border>|---padding----|element|---padding----|<border 
margin - distance outside the border
        "YOU CAN SEE IT STYLES OF TH DEV TOOLS CHROME"
*/
/*
            DISPLAY: property 
1. Block
2. Inline
3. Inline-Block = to make a block in line 
4. none = display none
 
Sample of Block 
<p>  
p{ display:inline-block;} // to make it inline
u can use <span> = inline display element    
ex.
html
<p> im a <span class="pro">pro</span>grammer </p> = edit only inline element not whole block 
css
.pro{ text-decoration: underline;}
*/
/*
//////Position Property
1.Static = default
2.Relative = When u move an element with a relative position.  The other element keep their own position.
3.Absolute = we are positioning the element that is inside an element. it affect the position of the elements. Taking the element out of the flow. A lot easier when moving element
4. Fixed = it will stay in its position even though you scroll down. for nav 
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Sacramento&display=swap'); /*imported via fonts.google.com*/

body{
    margin: 0 auto 0 auto; /* Override the default margin*/
    text-align: center;
}
hr{
    width: 5%;
    border-style: dotted;
    border-width: 6px;
    border-color: grey;
    border-bottom: 0;
}
h2{
    font-family: 'Merriweather', serif;
    color: #66BFBF;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}


/*TOP CONTAINER*/
h1 {
    margin-top: 0; /* Override the default margin*/
    font-family: 'Sacramento', cursive;
    margin: 80px auto 0 auto;
    font-size: 5.625rem;
    font-style: italic;
    color: #66BFBF;
} 
.cloud1{
    position: relative;
    left: 20%;
}
.cloud2{
    position: absolute;
    left: 25%;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.p-top{
    margin: 0 auto 50px auto;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}

/*MIDDLE CONTAINER*/
.middle-container{

}
.dp{
    margin-top: 50px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.java-icon{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    float: left;
}
.html-icon{
    margin-right: 30px;
    float: right;
}
.css-icon{
    margin-right: 30px;
    float: left;
}
.js-icon{
    margin-right: 30px;
    float: right;
}
/* .p-java{
    clear: left;
}
.p-html{
    clear: right;
}
.p-css{
    clear: left;
}
.p-js{
    clear: right;
} */

.skills-row-title{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
/*Class skill-row*/
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}







/*BOTTOM CONTAINER*/
.bottom-container{
margin-top: 10px;
background-color: #11999E;
display: block;
position: absolute;
width: 100%;
}
.p-bot{
    margin-top: 0;
    margin-bottom: 10px;
    color: #66BFBF;
}
